@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Sora:wght@100..800&display=swap");

html {
   overflow-y: scroll;
   font-family: "Sora", sans-serif;
   color: #444444;
}
